/* Main container for the search results */
.main-container {
  padding: 2rem;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.header {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.data-of-bus {
  display: grid;
  grid-template-columns: repeat(6, 1fr);/* Changed to a single column */
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

}

.data-of-bus div {
  font-weight: bold;

}

.bus-details {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Changed to a single column */
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.bus-details:hover {
  background-color: #f0f8ff;
  transform: translateY(-2px);
}

.bus-name {
  font-size: 1rem;
  color: #007bff;
}

.departure, .arrival {
  font-size: 0.875rem;
  color: #555;
}

.duration {
  
  color: #333;
}

.fare {
  font-weight: bold;
  color: #e74c3c; /* Red color for fare */
}

.btn {
  display: flex;
  justify-content: center;
}

.view-seat {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-seat:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btnb {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.no-results {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: 1rem;
}
