/* Signup.css */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.signup-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
}
.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 30px; 
}

.password-container .toggle-password {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.signup-form {
    display: flex;
    flex-direction: column;
}

.input-group1 {
    margin-bottom: 15px;
    position: relative;
}

.input-group1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button1 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button1:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.signup-option {
    text-align: center;
    margin-top: 20px;
}

.signup-option p {
    margin: 0;
}

.signup-option a {
    color: #007bff;
    text-decoration: none;
}

.signup-option a:hover {
    text-decoration: underline;
}

.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-container input {
    margin-bottom: 10px;
}

.otp-container button {
    margin-bottom: 10px;
}
